*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-image: url('../images/bg.jpg') ;
    overflow-x: hidden;
    background-size:cover;
    background-position: center;
    font-family:Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
}

.header{
    width: 100%;
    height: 12%;
    
    margin: 0;
    

}
#netflix-logo{

    height: 70%;
    width: 15%;
    padding-top: 1%;
    padding-left: 3%;


}
.signup{
    padding-top: 4rem;
    width: 450px;
    height: 700px;    
    margin: 0 auto;
    margin-bottom: 6%;
    background-color: rgba(0,0,0,.75);
    border-radius: .2rem;
    
}
.footer{

    width: 100vw;
    height: 30vh;

    background-color: rgba(0,0,0,.75);
    color: #737373;
    font-size:16px;
   
    
}
.middle{
    margin-left: 20%;
   padding-top: 1%;
    width: 80vw;
    height: 30vh;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
}

#ph{

    text-decoration: none;
    color: #737373;

}


ul li{
    float: left;
    padding-left: 150px;
}
li a{
    text-decoration: none;
    color: #737373;

}

ul{

    margin-left: -140px;
    margin-top: -30px;
    font-size: small;
}
.row2{

    padding-left: -1px;
}
#row2{

    margin-left: -90px;
}


.custom-select{
    font-size: medium;
    margin-left: -304px;
    margin-top: 20px;
    font-size: medium;
    border: .800;
    border: 1px solid #333;
    width: 121px;
    height: 47px;
    background: #000;
    background-image: none;
    color:rgb(116, 115, 115);
    padding-left: 32px;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;

}
.custom-select::before {
    content: url("https://docebo-institute.s3.us-east-2.amazonaws.com/public/branding_hacks/signin-globe.png");
    margin-right: 5px;
    width: 20px; 
    height: 20px; 
    
}
h1{

    color: #fff;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 28px;
    
    font-family:Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
}
.form{

   height: 314px;
   width: 370px;
    margin-left: 40px;
    margin-top: 10px;

   
}
.fields{

    width: 314px;
    height: 50px;
    border-radius: 5px;
    padding-left: 20px;
    color:rgb(116, 115, 115);
    background: #333;
    border:#333;;

}
#red-button{
    background: #e50914;
    color:white;
    font-weight: 500;
    width: 314px;
    height: 50px;
    border-radius:5px;
    border:#e50914 ;
    font-family:Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;


}
#remember{

    width: 20px;
    height: 15px; 
    background: rgb(116, 115, 115);   
    
}
label{
    color:#b3b3b3;
    padding-left: 5px;
    font-size: small;

}
#need-help{
    
    color:#b3b3b3;
    text-decoration: none;
    padding-left: 122px;
    font-size: small;
    
}
a,#Signupnow:hover{
    text-decoration: -5px underline #b3b3b3;
    cursor: pointer;

}
#Signupnow{

    color: #fff;
    text-decoration: none;


}
#new-cust{

    color:rgb(116, 115, 115);
    
}
#need-help:hover{
    text-decoration: -5px underline #b3b3b3;


}
#quote{
    color: #8c8c8c;
    font-size: 0.8rem;

}
#show{

    text-decoration: none;
    color: #0071eb;
}
#show:hover{
    color: #fff;
    text-decoration: none;

}
#hidden-para{


    color: #8c8c8c;
    font-size: 13px;
}
#hidden-para a{
    color: #0071eb;
    font-weight: bold;
    text-decoration: none;


}
#hidden-para a:hover{
    
    text-decoration: -5px underline #b3b3b3;
    transition-delay: 10ms ease; 
   



}
#red-button:hover{

    cursor: pointer;
}


input:focus {
    background-color:#3d3d3d; 
    /* box-shadow: inset 0 0 5px rgba(173, 216, 230, 0.7);  */
    border: none;
    outline: none; 
    
}

/* @media screen and (max-width: 700px) {
    
    .signup{
        background-color: #000;
        width: 100%;
        height: 100%;
    }
  } */

  input:focus::placeholder {
    font-size: 12px; 
    transform: translateY(-10px); 
}
.warning {
    position: relative;
    top:-16;
    color: #e87c03;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    
   
}
#show_pass{

    position: absolute;
        margin-right:5px ;
        border-radius: 5px;
        right: 0px;
        border: none;
        top: 325px;
        height: 30px;
        cursor: pointer;
        color: #737373;
        background-color: transparent;
        transform: translateX(-612px);
        font-size: 12px;
        visibility: hidden;
      
}

#pass:hover + #show_pass,
#show_pass:hover {
    visibility: visible;
}
